::selection {
  background: #ec005b;
  color: white;
}

/* disabled since tailwind JIT mode does not allow @apply directive */
 /* :root {
  @apply light;
}  */



.dark {
  --color-bg-primary: #29374b;
  --color-bg-secondary: #3f5169;
  --color-bg-tertiary: #f3f3f3;
  --color-bg-accent: #6461af;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
   
  
  --color-text-accent: #A5B4FC;
}

.light {
  --color-bg-primary: #fcfcfc;
  --color-bg-secondary: #dadde7;
  --color-bg-accent: #9692df;
  --color-text-primary: #1F2937;
  --color-text-secondary: #9CA3AF;
  --color-text-accent: #4F46E5;
}



/* Transitions */
.fade-appear{
    opacity:0;
    z-index:1
}
.fade-appear.fade-appear-active{
    opacity:1;
    transition: opacity 300ms linear
}

.fade-exit {
    transform: translate(-50%, 0) scale(1, 1);
  opacity: 1;
}

.fade-exit-active {
    transform: translate(-50%, -100%) scale(1, 0);
  opacity: 0;
  transition: transform 500ms ease-in, opacity 300ms ease-out;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;