@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #6366F1;
  color: white;
}


/* This fires as soon as the element enters the DOM*/
.list-transition-enter {
/*We give the list the initial dimension of the list button*/
top: 0;
width: 120px;
max-height: 40px;
color: transparent;
background-color: #5a564c;
}
/* This is where we can add the transition*/
.list-transition-enter-active {
top: 45px;
width: 200px;
max-height: 200px;
background-color: #9e8949;
transition: all 400ms;
}
/* This fires as soon as the this.state.showList is false */
.list-transition-exit {
top: 45px;
width: 200px;
max-height: 200px;
background-color: #9e8949;
}
/* fires as element leaves the DOM*/
.list-transition-exit-active {
top: 0;
width: 120px;
max-height: 40px;
color: transparent;
background-color: #5a564c;
transition: all 400ms;
}

.fade-appear{
    opacity:0;
    z-index:1
}
.fade-appear.fade-appear-active{
    opacity:1;
    transition: opacity 300ms linear
}

.fade-enter{
    opacity:0;
    z-index:1
}
.fade-enter.fade-appear-active{
    opacity:1;
    z-index:1
}